Okay this will be the place we do our planning for the app
roughly the main idea is that this is a relationship app, especially to help with
long distance couples but it will also be for any couples/ best friends



Idea: create some pou/my talking tom like game except that YOU are each others
	pet. This will be funny as you have to dress each other. Some side ideas
	are that we could incorporate actual attatchment things to help couples.
	In our words if there could be a way for it to be like couples therapy, 
	would be really nice as the couple using the app will develop a better 
	relationship as a result of the app. BUT STILL NEEDS TO BE FUN!!!!
